<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<!-- spring knows which class to make singalton by reading this file -->
	
	<!-- this is for spring IoC container - kyathi class lav k jene singalton banavana chhe em -->
	<bean class="com.controller.SessionLoginServlet" id="sessionController"></bean>
</beans>